/* Devices sizing:
Mobile = 0px - 576px
Tablet = 576px - 768px
desktop = 768px+ */

/* Bootstrap sizing guide:
col-# (<576px)
col-sm-# (≥576px)
col-md-# (≥768px)
col-lg-# (≥992px)
col-xl-# (≥1200px)
*/

:root {
  /* Colors */
  --color-purple: #C271FF;
  --color-purple-dark: #071629;

  /* Font */
  --font-main: 'Source Sans Pro',
    sans-serif;
  --font-coiny: "Coiny";

  /* Font weight */
  --weight-light: 200;
  --weight-regular: 400;
  --weight-bold: 700;
}

/* Remove default styling for buttons, list, and links */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
  cursor: pointer;
}

button:focus,
.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

button:hover{
  opacity: 0.9;
}

a {
  text-decoration: none;
  /* Remove underlines */
  color: inherit;
  /* Inherit color from parent */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

a:visited {
  color: inherit;
  /* Inherit color from parent, even after link is visited */
}

a:hover,
a:focus {
  text-decoration: none;
  /* Remove underlines on hover/focus */
}

/* Remove all list styling */
ul,
ol {
  list-style-type: none;
  /* Remove bullet points or numbers */
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

/* Global styling */
body {
  font-family: var(--font-main);
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 1200px;
}

/* Text */
.purple-text {
  color: var(--color-purple);
  font-weight: var(--weight-bold);
}

.coiny {
  font-family: var(--font-coiny);
}

/* Nav bar */
.header-logo-img {
  height: 30px;
  width: 50px;
}

.header-logo-text {
  width: 150px !important;
  height: 40px !important;
}

.navbar-brand {
  margin-right: 0 !important;
}

.holberton_school-icon-menu {
  font-size: larger;
}

/* Footer */
footer {
  background-color: var(--color-purple-dark);
  height: 300px;
}

.copyright {
  opacity: 0.35;
}

a.holberton_school-icon-ic_facebook,
a.holberton_school-icon-ic_twitter,
a.holberton_school-icon-ic_instagram {
  font-size: 2.2rem;
}
