header {
  height: 1200px;
  background-color: var(--color-purple-dark);
}

.header-background {
  background-image: url('../images/pic_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  background-color: var(--color-purple-dark);
}

.get-schooled {
  font-size: clamp(2rem, 15vw, 7rem);
  font-weight: var(--weight-bold);
}


.get-schooled-subtitle {
  font-size: 1rem;
  font-weight: var(--weight-bold);
}

.get-schooled-button {
  background-color: var(--color-purple);
  font-weight: var(--weight-bold);
  width: 180px;
}

.pro {
  height: 130px;
  width: auto;
}

.pros-title {
  font-weight: var(--weight-light);
}

.purple-text {
  color: var(--color-purple);
  font-weight: var(--weight-bold);
}

/* Quote section */
.quotes-section {
  background-color: var(--color-purple);
  height: 400px;
}

.quote-guy {
  width: 160px;
  height: 140px;
  border-radius: 50%;
}

.carousel-icon {
  height: 50px;
}

/* Video section */
.video-section {
  color: var(--color-purple-dark);
}
.cards-wrapper {
  width: 80%;
}

.card {
  width: 15rem;
}
.card-title {
  font-size: .7rem;
}

.card-text {
  font-size: .6rem;
  color: #071629;
  opacity: 50%;
}

.video-guy {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.video-name {
  font-size: .6rem;
  font-weight: 300;
}

.star {
  width: 10px;
}

.video-time {
  font-size: .6rem;
  font-weight: 700;
}

/* Member section */
.member-section {
  background-color: var(--color-purple-dark);
}

.member {
  width: 230px;
}

.member>img {
  height: 40px;
}
/* Small screen+ */
@media (min-width: 576px) {
.header-background {
    height: 1000px;
  }

  header {
    height: 1050px;
    background-color: var(--color-purple-dark);
  }

  .quotes-section {
    height: 300px;
  }
}

