header {
  height: 1200px;
  background-color: var(--color-purple-dark);
}
.header-background {
  background-image: url('../images/pic_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  background-color: var(--color-purple-dark);
}

/* Quote section */
.quotes-section {
  background-color: var(--color-purple);
  height: 400px;
}

.quote-guy {
  width: 160px;
  height: 140px;
  border-radius: 50%;
}

.carousel-icon {
  height: 50px;
}

/* FAQ Section */
.faq-section {
  color: var(--color-purple-dark);
}

.faq-title {
  font-size: 4rem;
  font-weight: 200;
}

.faq-question {
  font-size: 1.2rem;
}

/* Small screen+ */
@media (min-width: 576px) {
  .quotes-section {
    height: 300px;
  }
}
